@import "../../theme.scss";
@import "../../typography.scss";



.post-card {

    margin-top: 40px;
    display: flex;
    align-content: center;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px $tertiary-color;
    background-color: white;
    

    .post-card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        .icone {
            display: flex;
            align-items: center;
            gap: 30px;
            .liked{

                color: aquamarine;
            }
            .disliked{
                color: $primary-color;
            }
            .far{
                font-size: 20px;

                &:hover{
                    
                    transition: all 350ms ease-in-out;
                }
            }
        }
    }

    .img-post-card{
        height: 200px;
        width: auto;
    }

    .bouton-container{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 20px;
    }
    
    .description{
        font-size: larger;
    }

    .post-information{
        font-size: smaller;
    }

   

}