@import "../../theme.scss";
@import "../../typography.scss";



.post-card {
    width: 100%;
    box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 28px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    .post-content{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .post-content-information{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            width: 100%;
            margin-top: 30px;
      
            .description{
                padding-bottom: 30px;
            }
        }
    }




    .post-information{
        display: block;
        font-family: 'lato-light-italic';
        font-size: x-small;
        line-height: normal;
        text-transform: uppercase;
        color: $tertiary-color;
        margin-bottom: 6px;
    }

    .img-post-card{
        width: 50%;
        max-height: 300px;
        border-radius: 5px;
        object-fit: cover;
        margin-bottom: 18px;
    }
    .icone{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }




}