<div class="container">
    <!-- formgroup permet de créer un form et de le lier au fichier ts -->
    <!-- submit : lors du click, la méthode addPost va se déclencher -->
    <form [formGroup]="modifiedFormGroup" (submit)="onPostModified()">
    <div class="post-container">
        <!-- formControlName permet de lier la valeur du textarea au form -->
        <textarea name="post" id="description" cols="100" rows="20" formControlName="description">Ecrivez ici ce que vous avez à dire !</textarea>
        
    </div>
    <button class="button-post"> Poster !</button>
   </form>
</div>