<div class="container">

    <button class="redirection" [routerLink]="'/login'">Déjà inscrit ? </button>

    <form [formGroup]="signUpForm" (submit)="onSubmit()">
        <h3>Email :</h3>
        <!-- formcontrolname : sert à lier la propriété du signUpForm dans le fichier ts -->
        <textarea name="email" id="email" cols="30" rows="1" formControlName="email"></textarea>


        <h3>Mot de passe :</h3>
        <textarea name="password" id="password" cols="30" rows="1" formControlName="password"></textarea>


        <div *ngIf="inError">
            <p>
                Impossible de créer le compte, l'email est incorrecte ou le mot de passe ne contient pas au moins 6 caractères
            </p>
        </div>
        <button class="button-signUp" > S'inscrire </button>

    </form>

</div>