/* You can add global styles to this file, and also import other style files */
@import "./typography.scss";
@import "./theme.scss";
body {
    margin:0px;
    font-family: 'Lato-regular';
    padding: 10px;
    height: 100vh;
    background: linear-gradient( 120deg, white, 90%, $secondary-color);
    
        
}
