@font-face {
    font-family: 'Lato-Black';
    src: url("../font/Lato-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: 'lato-bold-italic';
    src: url("../font/Lato-BlackItalic.ttf");
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'lato-semi-bold';
    src: url("../font/Lato-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'lato-semi-bold-italic';
    src: url("../font/Lato-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'lato-italic';
    src: url("../font/Lato-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'lato-light';
    src: url("../font/Lato-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'lato-light-italic';
    src: url("../font/Lato-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'lato-regular';
    src: url("../font/Lato-Regular.ttf");
}

@font-face {
    font-family: 'lato-thin';
    src: url("../font/Lato-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'lato-thin-italic';
    src: url("../font/Lato-ThinItalic.ttf");
    font-style: italic;
    font-weight: 100;
}