@import "../../typography.scss";
@import "../../theme.scss";

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    app-post-display{
        width: 80%;
    }

    .div-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;

        .button-link-creation-post{
            height: 50px;
            width: 100%;
            border-radius: 7px;
            background-color: $secondary-color;
            border-color: transparent;
            box-shadow: 1px 5px 3px rgba(151, 126, 126, 0.662);
            font-family: 'Lato-Black';
            color: $tertiary-color;
        }

    }
}



